@using SmartHub.Dashboard.Controllers;
@*@model IEnumerable<AppSectionItemAttribute>*@
@{
    ViewData["Title"] = "System";
}

<div class="row">
    <input id="hidServerUrl" type="hidden" value="@ViewBag.ServerUrl" />
</div>

@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>

@*<p>Use this area to provide additional information.</p>*@
@*<h5>Server URL:</h5>
<h6>@ViewBag.ServerUrl</h6>*@

@*<hr />*@

<div class="row">
    <div class="col-md-3">
        <h3>Items</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>

            @*@foreach (var item in Model)
    {
            <tr>
                <td>@item.Name</td>
                <td><small>@item.Description</small></td>
                <td><small>@item.Type</small></td>
                <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
            </tr>
}*@
        </table>
    </div>

</div>
